body {
    background: rgb(56,122,205);
    background: linear-gradient(90deg, rgba(56,122,205,1) 1%, rgba(122,155,244,1) 100%, rgba(7,173,207,1) 100%);
}

h1 {
    font-family: 'poppins', 'inter','OPen Sans', sans-serif;
}

h2 {
    font-family: 'poppins', 'inter','Open Sans', sans-serif;
}

p {
    font-family: 'inter','Open Sans', sans-serif;
}

ul {
    font-family: 'inter','Open Sans', sans-serif;
}

td {
   padding: 15px;
}