body {
    
    background: linear-gradient(90deg, rgba(21,139,33,1) 5%, rgba(8,203,68,1) 64%);
}

h1 {
    font-size: 5.62rem;
    font-family: 'Dancing Script';
}

h2 {
    font-family: 'poppins', 'inter','Open Sans', sans-serif;
}

p {
    font-family: 'inter','Open Sans', sans-serif;
    color: black;

}

ul {
    font-family: 'inter','Open Sans', sans-serif;
}

td {
   padding: 15px;
}

.recipe {
    padding: 0px 25px;
}

.text {
    padding: 0px 15px;
}

.recipe-image {
    width: 15%;
    border-radius: 15px;
}

#breakfast-wrap-image {
    width: 75%;
    border-radius: 15px;

}
